<section id="pageNotFound">
    <h1>404</h1>
    <h2>Oops! Looks like you're lost.</h2>
    <p>The page you're looking for isn't here. It might have been moved, deleted, or perhaps it never existed.</p>
    <div class="d-flex gap-20 ai-center">
        <p>Don't worry, let's get you back on track:</p>
        <a routerLink="/home" class="button btn-secondary">Go to Homepage</a>
        <a routerLink="/contacts" class="button btn-secondary">Contact Support</a>
    </div>
    <p><a routerLink="/movies" class="hlink">While you're here, why not check out what's playing at our cinema? Great movies await!</a></p>
</section>