#aboutSection {
    background-color: #2e3a4a;
    color: #fcf2b1;
    min-height: 800px;
}

.about-container {
    height: max-content;
    background-color: #232c39;
    border-radius: 20px;
}

.img-container {
    height: 400px;
    min-width: 600px;
    background-color: #2e3a4a;
    border-radius: 8px;
    overflow: hidden;
}

img {
    height: 100%;
}

p {
    font-size: 18px;
}

.button {
    width: 55px;
    text-align: center;
}