<section id="scheduleSection" class="d-flex jc-center ai-center">
    @if((isMoviesLoading$ | async) || (isScreensLoading$ | async)){
        <app-loader />
    } @else {
        <form class="d-flex f-direction-column ai-center gap-20 padding-20"  [formGroup]="form" (ngSubmit)="submitHandler()">
            <h2>Add Projection</h2>
    
            <div class="field relative">
                <label for="movie"
                [class]="isMissing('movie') ? 'error-color' : ''"
                >Movie</label>
    
                <select
                [class]="isMissing('movie') ? 'error-input' : ''"
                id="movie" 
                name="movie" 
                formControlName="movie"
                >
                    <option value="">-- Choose a movie --</option>
                    @for (moviesData of (movieNames | alphabeticalArray); track $index) {

                        <optgroup [label]="moviesData[0]">
                            @for (movie of moviesData[1]; track $index) {
                                <option [value]="movie.id+'@@'+movie.title">{{movie.title}}</option>
                            }
                        </optgroup>
                    }
            
                </select>
            </div>
            @if(form.get('movie')?.touched){
                <div>
                    @if(form.get('movie')?.errors?.['required']){
                        <p class="error-msg">Movie is required!</p>
                    }
                </div>
            }
    
            <div class="field relative">
                <label for="screen"
                [class]="isMissing('screen') ? 'error-color' : ''"
                >Screen</label>
    
                <select
                (change)="refreshTimeField(timeSelectDiv)"
                [class]="isMissing('screen') ? 'error-input' : ''"
                id="screen" 
                name="screen" 
                formControlName="screen"
                >
                    <option value="">-- Choose a screen --</option>
                    @for (screen of screens$ | async; track $index) {
                        <option [value]="screen.name+'@@'+screen.rows.toString()+'@@'+screen.seatsPerRow.toString()+'@@'+screen.projSchedule">{{screen.name}}</option>
                    }
                    
                </select>
            </div>
    
            @if(form.get('screen')?.touched){
                <div>
                    @if(form.get('screen')?.errors?.['required']){
                        <p class="error-msg">Screen is required!</p>
                    }
                </div>
            }
    
            <div class="field relative">
                <label for="date"
                [class]="isMissing('date') ? 'error-color' : ''"
                >Pick a date</label>
    
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker"
                    id="date"
                    name="date"
                    formControlName="date"
                    >
                    <mat-hint
                    [class]="isMissing('date') ? 'error-color' : ''"
                    >MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
            </div>
            @if(form.get('date')?.touched){
                <div>
                    @if(form.get('date')?.errors?.['required']){
                        <p class="error-msg">Date is required!</p>
                    }
                </div>
            }
                <div class="field relative d-none" #timeSelectDiv>
                    <label for="time"
                    [class]="isMissing('time') ? 'error-color' : ''"
                    >Time</label>
        
                    <select
                    #timeSelectRef
                    [class]="isMissing('time') ? 'error-input' : ''"
                    id="time" 
                    name="time" 
                    formControlName="time"
                    >
                        <option value="">-- Pick a time --</option>
                        @for (time of screenSchedule; track $index) {
                            <option [value]="time">{{time}}</option>
                        }
        
                    </select>
                
                @if(form.get('time')?.touched){
                    <div>
                        @if(form.get('time')?.errors?.['required']){
                            <p class="error-msg">Time is required!</p>
                        }
                    </div>
                }
        </div>
    
            <button class="button btn-primary"
            [class]="form.invalid ? 'disabled' : ''" 
            [disabled]="form.invalid">
            Schedule a projection
        </button>
        </form>
    }
</section>