<div class="dropdown-menu absolute">
    <ul class="ls-none">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Wallet</a></li>
        <li><a routerLink="/tickets">My Tickets</a></li>
        <li><a (click)="logout()">Logout</a></li>
        
        <!-- <li><a href="#">Messages</a></li>
        <li><a href="#">Screens</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Logout</a></li> -->

        <!-- <li><a href="#">Register Manager</a></li>
        <li><a href="#">Logout</a></li> -->
    </ul>
</div>