    @if((isProjLoading$ | async) || (isPriceLoading$ | async)){
        <section id="projectionInfo" class="d-flex jc-center ai-center padding-50">
            <app-loader />
        </section>
    } @else {
    <section (change)="typeTicketChange(ticketTypeRef)" id="projectionInfo" class="d-flex jc-center ai-center padding-50">
        <form class="ticket bg-dark d-flex f-direction-column jc-space-between padding-30" [formGroup]="form" (ngSubmit)="submitHandler()">
            <div class="d-flex jc-space-between ai-center f-wrap gap-10">
                <div class="field">
                    <label for="movieName">Movie:</label>

                    <input type="text" 
                    id="movieName" 
                    name="movieName" 
                    readonly
                    formControlName="movie"
                    >

                </div>
                <div class="field">
                    <label for="screenName">Screen:</label>

                    <input type="text" 
                    id="screenName" 
                    name="screenName" 
                    readonly
                    formControlName="screen"
                    >

                </div>
                <div class="field">
                    <label for="dateAndTime">Date:</label>

                    <input type="text" 
                    id="dateAndTime" 
                    name="dateAndTime" 
                    readonly
                    formControlName="dateAndTime"
                    >

                </div>
            </div>
            <div class="d-flex jc-space-between ai-center gap-10">
                <div class="field">
                    <label for="row">Row:</label>

                    <input type="text" 
                    id="row" 
                    name="row" 
                    readonly
                    formControlName="row"
                    >

                </div>
                @if(form.get('row')?.errors?.['required'] || form.get('seat')?.errors?.['required']){
                    <p class="warning-msg">Don't forget to choose your seat!</p>
                }
                <div class="field">
                    <label for="seat">Seat:</label>

                    <input type="text" 
                    id="seat" 
                    name="seat" 
                    readonly
                    formControlName="seat"
                    >

                </div>
            </div>
    
            <div class="d-flex jc-space-between ai-center gap-10">
                <div class="field">
                    <label for="ticketType">Ticket type:</label>
                    <select #ticketTypeRef 
                    [class]="isTypeMissing() ? 'error-input': ''"
                    name="ticketType" 
                    id="ticketType"
                    formControlName="ticketType"
                    >
                    <option value="">-- Choose a type --</option>
                        @for (priceInfo of prices$ | async; track $index) {
                            <option [value]="priceInfo.ticketPrice">{{priceInfo.ticketType}}</option>
                        }
                    </select>

                    @if(form.get('ticketType')?.touched  && form.get('ticketType')?.errors?.['required']) {
                        <p class="error-msg">Please, select a ticket type!</p>
                    }
                </div>
    
                <div class="field">
                    <label for="ticketPrice">Price:</label>

                    <input type="text" 
                    id="ticketPrice" 
                    name="ticketPrice" 
                    readonly
                    formControlName="ticketPrice"
                    >

                </div>
            </div>
            <button class="button btn-primary"
            [class]="this.form.invalid ? 'disabled':''"
            [disabled]="this.form.invalid"
            >BUY</button>
        </form>
    </section>
    }

<section id="ticketInfo" class="d-flex f-direction-column ai-flex-end gap-30 padding-50">
    @if((isProjLoading$ | async)){
        <app-loader />

    } @else {
        <div class="map bg-dark d-flex f-direction-column ai-center gap-20 padding-30">
            <div class="screen">Screen</div>
            @for (row of [].constructor((projection$ | async)?.screen?.rows); track $index; let rowNo = $index) {
                <div class="row">
                    @for (seat of [].constructor((projection$ | async)?.screen?.seatsPerRow); track $index; let seatNo = $index) {
                        <div (click)="chooseASeat($event)" class="seat free" [id]="(rowNo + 1) + 'x' + (seatNo + 1)"></div>
                    }
    
                </div>
    
                }
        </div>
    }
</section>