<section id="pricesSection" class="d-flex jc-center padding-20">
    <div class="table d-flex jc-center padding-30">
        @if(isLoading){
            <app-loader />
        } @else {
            <ul class="d-flex f-direction-column gap-10">
                @for (priceInfo of prices; track $index) {
                    <li class="item d-flex jc-space-around relative">
                        <p>{{priceInfo.ticketType}}</p>
                        <p>{{priceInfo.ticketPrice.toFixed(2)}}&euro;</p>
                    </li>
                }
            </ul>
        }
    </div>
</section>