<section id="ticketDetails" class="padding-20 d-flex jc-center ai-flex-start">
    <div class="ticket d-flex">
        <div class="QR">
            <qr-code value="D3Vlky76vA" size="300" errorCorrectionLevel="M" />
        </div>
        <ul class="ls-none d-flex padding-20 f-wrap">
            <li>Movie: soAoppdadf</li>
            <li>Screen: soAoppdadf</li>
            <li>Date: 19.12.2024 18:00:00</li>
            <li class="d-flex gap-10"><div>Row: 7</div><div>Seat 8</div></li>
            <li>Ticket Type: Standard</li>
            <li>Ticket Price: 12.00&euro;</li>
        </ul>
    </div>
</section>