<section id="movieDetails" class="d-flex gap-30">
    @if(isLoading$ | async) {
        <app-loader />

    } @else {
        @if(movie$ | async) {
            <div class="img-container">
                <img class="img-article" [attr.src]="(movie$ | async)?.imgUrl"
                    alt="{{(movie$ | async)?.title}} image">
            </div>
            <div class="movie-details d-flex f-direction-column gap-20 relative">
                <h2>{{(movie$ | async)?.title}}</h2>
                <p>Genre: {{(movie$ | async)?.genre}}</p>
                <p>Duration: {{(movie$ | async)?.duration}} min</p>
                <p>
                    {{(movie$ | async)?.description}}
                </p>
                <div class="additional absolute">
                    <ul class="ls-none d-flex gap-20 ai-center">
                        <li class="rating"><i class="fa-solid fa-star"></i> {{(movie$ | async)?.rating}} / 10</li>
                        @if((movie$ | async)?.ageRestriction) {
                            <li class="restriction">{{(movie$ | async)?.ageRestriction}}</li>
                        }
                    </ul>
                </div>
                @if((isManager && (movie$ | async)?.author?.objectId === userId) || isAdmin){
                    <div class="action-buttons d-flex gap-10">
                        <a class="button btn-secondary" [routerLink]="['/movies/edit', (movie$ | async)?.objectId]">Edit</a>
                        <a (click)="onDelete()" class="button btn-secondary">Delete</a>
                    </div>
                }
            </div>
        }
    }
</section>
@if(!(isLoading$ | async)){
    <app-projections [movieId]="(movie$ | async)?.objectId" />
}
